.aspect-output-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 150px;
    max-width: calc(100% - 105px);
    min-height: 200px;
    max-height: 250px;
    margin: 0 auto;
    padding: 1rem;
    background-color: var(--primary-main);
}

.aspect-output-value {
    margin-bottom: 10px;
    text-align: center;
}

@media (max-width: 900px) {
    .aspect-output-item {
        display: flex;
        gap: 10px;
    }
    .aspect-output-value {
        text-align: left;
    }
}
