#case-btn-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1px, 1fr));
}

#case-btn-group button {
    padding: 10px 16px;
    border-color: transparent;
}

#case-btn-group button:hover,
#case-btn-group button:focus {
    background-color: #404040;
}

@media (max-width: 900px) {
    #case-btn-group {
        grid-template-columns: repeat(4, 1fr);
    }
    #case-btn-group button:nth-child(1) {
        border-radius: 4px 0 0 0;
    }
    #case-btn-group button:nth-child(4) {
        border-radius: 0 4px 0 0;
    }
    #case-btn-group button:nth-child(5) {
        border-radius: 0 0 0 4px;
    }
    #case-btn-group button:nth-child(8) {
        border-radius: 0 0 4px 0;
    }
}

@media (max-width: 770px) {
    #case-btn-group {
        grid-template-columns: repeat(2, 1fr);
    }

    #case-btn-group button:nth-child(2) {
        border-radius: 0 4px 0 0;
    }

    #case-btn-group button:nth-child(4) {
        border-radius: 0;
    }

    #case-btn-group button:nth-child(5) {
        border-radius: 0;
    }

    #case-btn-group button:nth-child(7) {
        border-radius: 0 0 0 4px;
    }
}
