#btn-group {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(1px, 1fr));
}

#btn-group button {
    background-color: #8a6e4b;
    border-color: transparent;
}

#btn-group button:hover,
#btn-group button:focus {
    background-color: #222;
}

@media (max-width: 900px) {
    #btn-group {
        grid-template-columns: repeat(4, 1fr);
    }
    #btn-group button:nth-child(1) {
        border-radius: 4px 0 0 0;
    }
    #btn-group button:nth-child(4) {
        border-radius: 0 4px 0 0;
    }
    #btn-group button:nth-child(5) {
        border-radius: 0 0 0 4px;
    }
    #btn-group button:nth-child(8) {
        border-radius: 0 0 4px 0;
    }
}

@media (max-width: 770px) {
    #btn-group {
        grid-template-columns: repeat(2, 1fr);
    }

    #btn-group button:nth-child(2) {
        border-radius: 0 4px 0 0;
    }

    #btn-group button:nth-child(4) {
        border-radius: 0;
    }

    #btn-group button:nth-child(5) {
        border-radius: 0;
    }

    #btn-group button:nth-child(7) {
        border-radius: 0 0 0 4px;
    }
}
