.input-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: calc(100% + 16px);
    margin-left: -16px;
    box-sizing: border-box;
}

.input-group {
    max-width: 25%;
    flex-basis: 25%;
    flex-grow: 0;
    -webkit-box-flex: 0;
    padding-left: 16px;
}
