.home-card-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.home-card {
    flex: 0 0 325px;
    background-color: var(--dark-alt);
}

.home-card-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-card-icon svg {
    color: var(--primary-main);
    font-size: 75px !important;
}

.home-card-view-link {
    width: 100%;
    text-decoration: none;
}
