*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --primary-main: #8a6e4b;
    --primary-alt: #8b5cf6;
    --dark-main: #1e1e1e;
    --dark-alt: #333333;
    --dark-alt-2: #404040;
    --light-main: #fefefe;
}

p {
    margin-bottom: 30px;
}

.group.top .MuiOutlinedInput-root fieldset {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-color: transparent;
}

.group.bottom .MuiOutlinedInput-root fieldset {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
