*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', Arial, Helvetica, sans-serif;
}

@media (max-width: 900px) {
    h1 {
        text-align: center !important;
    }
}
