p {
    margin-bottom: 30px;
}

.text-field label.Mui-focused {
    color: #000;
}

.text-field .MuiOutlinedInput-root fieldset {
    background-color: rgba(0, 0, 0, 0.06);
    border-color: transparent;
    border-left-color: #8a6e4b;
    border-left-width: 5px;
}

.text-field .MuiOutlinedInput-root:hover fieldset {
    border-color: transparent;
    border-left-color: #8a6e4b;
}

.text-field .MuiOutlinedInput-root.Mui-focused fieldset {
    border-color: #8a6e4b;
    border-left-width: 2px;
}
