.item {
    padding: 1rem 0.5rem;
    background-color: #eee;
    text-align: center;
    border-left: 65px solid transparent;
    cursor: pointer;
    transition: 0.15s ease-in;
}

.item:nth-child(even) {
    background-color: #e3e3e3;
}

.item:hover {
    background-color: #d6d7d8;
}

@media (max-width: 800px) {
    .item {
        border-left: 115px solid transparent;
    }
}
